body {
    padding-top: 40px;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}
.container {
    margin-top:50px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

header{
    position: fixed;
    width: 100vw;
    top: 0;
}

footer{
    position: fixed;
    width: 100vw;
    bottom: 0;
}